<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Welcome to my fantastic website!</title>
  </head>
  <body>
  {% extends "template.html" %}
  {% block content %}
    <h1> About what this is! </h1>
    <p> This programmed website uses a python framework known as "flask" that allows fow EASY web deployment.</p>

  <h2>
    Though the website appears to be very plain in particular compared to other websites, it is just a demo for teachers.
  </h2>

  <main>
    so don't judge it!



  </main>

  {%endblock%}
  </body>
</html>